<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ma.ensaf.veryempty">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".data.VeryEmpty"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:theme,android:icon">
        <activity
            android:name=".activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme_Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityWelcomeScreen"
            android:label="@string/activity_welcome_screen"
            android:theme="@style/AppTheme.WhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ActivityRegister"
            android:label="@string/activity_login_register"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ActivityPhoneRegistration"
            android:theme="@style/AppTheme.WhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ActivityRegisterDonor"
            android:label="@string/activity_register_donor"
            android:theme="@style/AppTheme.WhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ActivityRequestBlood"
            android:label="@string/activity_request_blood"
            android:theme="@style/AppTheme.WhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ActivityHome"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ActivityDonors"
            android:label="@string/activity_all_donors"
            android:theme="@style/AppTheme.WhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ActivityRequests"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ActivityUserProfile"
            android:theme="@style/AppTheme.WhiteStatusBar"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>